#plant-list-component{
    padding: 0 10px;
}
#plant-list{
    list-style:none;
    padding-left:0;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.plant-link{
    color: grey;
    border:2px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}
a.plant-link{
    width: 95%;
    display: block;
    text-decoration: none;
}