#header{
    position:fixed;
    background-color:white;
    width:100%;
    top:0;
    background-color: #808080;
    padding: 10px;
}
h1{
    color: #eee;
}
#menu{
    list-style:none;
    padding-left:0;
}
.link{
    display: inline-block;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right:10px;
    background-color: #808080;
    
    
}
.link a, .link a:visited{
    text-decoration: none;
    color: white;
}