
<div class="top-margin bottom-margin" id="plant">
    <h2 id="plant-title">{{plant.name}}</h2>
    <div id="plant-content">
        <a class="plant" *ngFor="let action of plant.actions">
                <div id="card">
                    <div class="card-title">
                        {{action.type}}
                    </div>
                    <div class="plant-content">
                        <app-actions *ngIf="action.type === 'ACTION'" [actions]="action"></app-actions>
                        <app-observations *ngIf="action.type === 'OBSERVATION'" [observation]="action"></app-observations>
                        <app-measurements *ngIf="action.type === 'MEASUREMENT'" [measurement]="action"></app-measurements>
                        <app-pics *ngIf="action.type === 'PIC'" [pic]="action"></app-pics>
                    </div>
                </div>
        </a>

    </div>
    
    
</div>

<div id="footer" >
    <div id="footer-links">
        <a class="footer-link" (click)="deletePlant()">D</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addaction']">A</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addobservation']">O</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addmeasurement']">M</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addpic']">P</a>
    </div>
</div>