
<div class="top-margin bottom-margin" id="plant">
    <h2>{{plant.name}}</h2>
    <ul id="plant-dates">
        <li *ngFor="let dates of plant.dates | keyvalue">
            <h3>{{dates.key}}</h3>
            <app-dates [dates]="dates.value"></app-dates>
        </li>
    </ul>
    <button (click)="deletePlant()">D</button>

    
</div>
<div style="width:100%;background-color:red;">
<div id="footer" >
    <div id="footer-links">
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addaction']">A</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addobservation']">O</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addmeasurement']">M</a>
        <a class="footer-link" [routerLink]="['/plant/',plantId, 'addpic']">P</a>
    </div>
</div>
</div>