/* You can add global styles to this file, and also import other style files */
.top-margin{
    margin-top:108px;

}
.bottom-margin{
    margin-bottom: 80px;
}
body{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 768px) {
    #container, #header, #footer{
        width:100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    #container, #header, #footer{
        width:768px;
        margin: 0 auto;
    }
}